
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
/*Lato:
weight:400px,600px,
*/
body{
    font-family: 'Lato', sans-serif;
}
li{
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.conteiner{
    max-width: 1150px;
}

.row{
    &__name-name{
        border-bottom:1px solid #BB5337  ;
        width: 94px;
        font-size: 14px;
        line-height: 135%; /* 18.9px */
        letter-spacing: 3.92px;
    }
    &__name-surname{
        font-size: 14px;
        line-height: 135%; /* 18.9px */
        letter-spacing: 3.92px;
    }
}