// @media screen and (max-width:1024px) {
//     /* ваш CSS-код для устройств с максимальной шириной 1024px */
// }
// @media (min-width:768px) and (max-width:833px) {
//     /* ваш CSS-код для устройств с шириной между 768px и 833px */
// }
@media(max-width:767px) {
    .headers{
        
        &__menu{
            display: none!important;
        }
    }
    .photos{
        flex-wrap: wrap;
        margin: 50px;
        &__name-title{
            
            font-size: 14px!important;
           
        }
        &__name-page{
            font-size: 9px!important;
            width: 30%;
        }
        
    }
}